<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>

<body style="font-family: Arial, sans-serif; max-width: 650px; margin: 0 auto; background-color: #ffffff; border: 1px solid #dee2e6; border-radius: 6px; padding: 20px;">

<div th:fragment="layout(content)">

    <!-- EMAIL CONTENT -->
    <div th:replace="${content}"></div>
    <br/>


    <div th:replace="~{email/fragments/footer :: footer}">
        <!-- THIS TEXT SHOULD DISAPPEAR IF FRAGMENT LOADS -->
        FRAGMENT STILL NOT LOADING - OLD VERSION ACTIVE!
    </div>
</div>

</body>
</html>